@charset "utf-8";
/* CSS Document */

body
{
	padding:0px;
	margin:0px;
	/*overflow:hidden;*/
	background-color:#f8eea9;
}
#big
{
	width:100%;
	height:110px;
	background-color:#ebb881;
	/*opacity:0.7;*/
	
	/*position:fixed;
    z-index:1;*/
}
#vain
{
	background-color:#dd8931;
	width:100%;
	height:10px;
}
.zi
{
	font-family:"Comic Sans MS", cursive;
	margin-left:100px;

	float:left;
}
#yuexi
{
	color:#F36;
	font-style:italic;
	font-size:34px;
	float:left;
	filter:glow(color=#ff0000, strength=2);
	text-shadow:5px 5px 5px red;
}
#nongcun
{
	color:#03F;
	font-size:25px;
	filter:glow(color=#ff0000, strength=5);
	text-shadow:5px 5px 5px #03F;
}
#phone img
{
	border-radius:100%;
	
}


#nav
{
	float:left;
	display:inline;
	margin-top:50px;
	
	-moz-column-count:5;
	-webkit-column-count:5;
	column-count:5;
	
	-moz-column-gap:0px;/*间距*/
	-webkit-column-gap:0px;
	column-gap:0px;
	

}
.nav1
{
	width:180px;
	height:39px;
	color:black;
	padding-top:20px;
	cursor:pointer;
}
li
{
	list-style:none;
}
li a
{
	text-decoration:none;
	color:black;
	
}

.nav1:hover
{
	background-color:#f9ee9c;
	
	
}

#search
{
	height:28px;
	position:absolute;
	margin-left:1000px;
}
#img42 img:hover
{
	cursor: pointer;
}
#zhuce
{
	position:absolute;
	width: 50px;
	height: 20px;
	margin-left: 1050px;
	margin-top: 50px;
}
#zhuce:hover
{
	background-color:burlywood;
}
#zhuce a
{
	text-decoration: none;
	color: black;
}
#denglu
{
	position:absolute;
	width: 50px;
	height: 20px;
	margin-left: 1100px;
	margin-top: 50px;
	
}
#denglu:hover
{
	background-color:burlywood;
}
#denglu a
{
	text-decoration: none;
	color: black;
}
#img42
{
	position:absolute;
	margin-left:1150px;
}
#kuai
{
	margin-left: 30%;
}



#neirong
{
	position: absolute;
	float: left;
	margin-left: 200px;
	margin-top: 100px;

}
#guanyu
{
	position: absolute;
	float: left;
	margin-left: 450px;
	margin-top: 100px;
}
#lianxi
{
	position: absolute;
	float: left;
	margin-left: 800px;
	margin-top:100px;
}
#guanzhu
{
	position: absolute;
	float: left;
	margin-left: 1100px;
	margin-top: 100px;
}
#vain2
{
	position: absolute;
	background-color:#dd8931;
	width:1380px;
	height:10px;
	margin-left: 0px;
	margin-top:390px;
	
}
footer
{
	position: absolute;
	background-color:#ebb881;
	width:1380px;
	 margin-left: 0px;
	margin-top:400px;
	

}
#footer
{
	  margin-left: 50%;
	
}

